[project]
	description = Google Chrome, Firefox, and Thunderbird extension that lets you write email in Markdown and render it before sending.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Atanas Boikliev (aboikliev)
[access "refs/for/refs/*"]
	read = group user/Atanas Boikliev (aboikliev)
	push = group user/Atanas Boikliev (aboikliev)
	label-Code-Review = -2..+2 group user/Atanas Boikliev (aboikliev)
	label-Verified = -1..+1 group user/Atanas Boikliev (aboikliev)
	rebase = group user/Atanas Boikliev (aboikliev)
	removeReviewer = group user/Atanas Boikliev (aboikliev)
	submit = group user/Atanas Boikliev (aboikliev)
[access "refs/heads/*"]
	read = group user/Atanas Boikliev (aboikliev)
	create = group user/Atanas Boikliev (aboikliev)
	push = +force group user/Atanas Boikliev (aboikliev)
	pushMerge = group user/Atanas Boikliev (aboikliev)
[access "refs/tags/*"]
	push = +force group user/Atanas Boikliev (aboikliev)
	pushTag = group user/Atanas Boikliev (aboikliev)
	pushSignedTag = group user/Atanas Boikliev (aboikliev)
